      body {
        width: 70%;
        margin: auto;
        border: solid thin blue;
        
      }
      section {
        border: solid thin #cc9;
        padding: 25px;
        position: relative;
      }
      figure {
        width: 450px;
        height: 350px;
        text-align: center;
        background-color: rgba(204, 204, 153, 0.51);
        line-height: 350px;
        border: solid thin red;
        position: absolute;
        top:25px;
        right: 25px;
      }
      figure img {
        vertical-align: middle;
      }